@font-face {
    font-family: CeraB;
    src: url(../fonts/CeraPro-Bold.ttf);
}

@font-face {
    font-family: CeraM;
    src: url(../fonts/CeraPRO-Medium.ttf);
}

@font-face {
    font-family: Metro;
    src: url(../fonts/metropolis/Metropolis-Regular.woff);
}

@font-face {
    font-family: MetroM;
    src: url(../fonts/metropolis/Metropolis-Medium.woff);
}
.profile-img
{
    
margin-top: 0px;
margin-left: 90px;
background: transparent url('img/Ellipse 148.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.profile-img h1{
    font-family: CeraB;
margin-top: -150px;
margin-left: 180px;
}
.profile-img h1 p1
{
    font-family: Metro;
margin-left: 20px;
font-size: 15px;
font-weight: 100;
}
.profile-img h2
{
    
    font-family: Metro;
margin-left: 180px;
font-size: 15px;
font-weight: 100;
}
.profile-img h4 {
    font-family: Metro;
margin-left: 180px;
font-size: 15px;
font-weight: 100;
}
.button button
{
    font-family: CeraB;
  color: #3598DB;
background-color: white;
margin-top: -100px;
margin-left: 1100px;
width: 173px;
height: 47px;
border: 1px solid var(--unnamed-color-3598db);
box-shadow: 0px 3px 6px #f5f2f2ee;
border: 1px solid #3598DB;
border-radius: 8px;
opacity: 1;
}
.options{
    font-family: CeraB;
    margin-top: 50px;
    margin-left: 100px;  
}
.options p{
    font-family: CeraB;
    margin-top: 10px;
    margin-left: 10px;
    color: var(--unnamed-color-3598db);
    letter-spacing: 0px;
    color: #979797;
    opacity: 1;
}
.options-card
{
    font-family: CeraB;
margin-top:-135px;
 margin-left: 230px;
width: 500px;
height: 200px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 1px 3px 10px #00000033;
border-radius: 8px;
opacity: 1;
}

.summary
{
    margin-top: -190px;
    margin-left: 255px;
    width: 118px;
    height: 34px;
   font-size: 23px;
 font-family: CeraB;
    color: #3598DB;
}
.files p
{
    
    margin-top: 0px;
    margin-left: 265px;
   
    opacity: 1;
}
.source {
    margin-top: -130px;
    margin-left: 500px;
  
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/19px var(--unnamed-font-family-metropolis);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-979797);
    color: #979797;
    opacity: 1;
}

.source1
{
margin-top: 40px;
margin-left: 500px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/19px var(--unnamed-font-family-metropolis);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-979797);
color: #979797;
opacity: 1;
}
.source2 {
    margin-top: -115px;
    margin-left: 620px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/19px var(--unnamed-font-family-metropolis);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-979797);
    color: #979797;
    opacity: 1;
}

.source3 {
    margin-top: 40px;
    margin-left: 620px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/19px var(--unnamed-font-family-metropolis);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-979797);
    color: #979797;
    opacity: 1;
}
.skills {
    font-family: CeraB;
    margin-top: -171px;
    margin-left: 750px;
    width: 350px;
    height: 200px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}
.skill {
    margin-top: -190px;
    margin-left: 765px;
    width: 118px;
    height: 34px;
    font-size: 23px;
    font-family: CeraB;
    color: #3598DB;
}
.skills1
{
margin-top: opx;
margin-left: 770px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/22px var(--unnamed-font-family-metropolis);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
font: normal normal medium 18px/22px Metropolis;
color: #333333;
opacity: 1;
}
.status {
    font-family: CeraB;
    margin-top: -170px;
    margin-left: 1120px;
    width: 270px;
    height: 1000px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}
.status1
{
    margin-top: -970px;
    margin-left: 1125px;
    color: #333333;
    
}
.status-name
{
  margin-top: 0px;
  margin-left: 1165px;
 font-family: CeraB;
 font-size:30px;
}
.status-name p {
    margin-top: 10px;
    margin-left: 0px;
    font-family: CeraM;
    font-size: 15px;
}
.status-name u{
    margin-top: 0px;
    margin-left: -20px;
    font-family: CeraB;
    font-size: 15px;
}
.displayname
{
        margin-top: 10px;
        margin-left: 1150px;
        font-family: Metro;
        font-size: 15px;
}
.employeement {
    margin-left: 1180px;
    color:#979797;
}
.employeement p
{
margin-left: 10px;
color:#3598DB;
}
.box-4 {
    font-family: CeraB;
    margin-top: -730px;
    margin-left: 230px;
    width: 600px;
    height: 300px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}
.box-4-1 {
    margin-top: -290px;
    margin-left: 255px;
    font-size: 23px;
    font-family: CeraB;
    color: #3598DB;
}
.box-4-1 p{
    margin-top: 0px;
    margin-left: 0px;
    height:80px;
    font-size: 15px;
 font-family: Metro;
    color:black;
}
.box-4-1-1 {
    margin-top: -190px;
    margin-left: 500px;
    height: 70px;
    width:300;
    font-size: 15px;
    font-family: Metro;
    color: black;
}
.box-5 {
    font-family: CeraB;
    margin-top: -135px;
    margin-left: 850px;
    width: 250px;
    height: 300px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}
.box-5-1 {
    margin-top: -290px;
    margin-left: 865px;
    height:30px;
    font-size: 23px;
    font-family: CeraB;
    color: #3598DB;
}
.box-6 {
    font-family: CeraB;
    margin-top: 280px;
    margin-left: 230px;
    width: 600px;
    height: 300px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}

.box-6-1 {
    margin-top:  -20px;
    margin-left: 260px;
    height: 30px;
    font-size: 23px;
    font-family: CeraB;
    color: #3598DB;
}
.imaview
{
margin-top: -290px;
margin-left: 740px;
font-family: Metro;
font-size: 15px;
color: #3598DB;

}
.taskscontent p
{
margin-top: -50px;
margin-left: 80px;
width: 78px;
height: 18px;
font: normal normal normal 15px/24px Metro;
color: #333333;

}
.taskname{
    margin-top: -20px;
    margin-left: 180px;
    width: 97px;
    height: 18px;
    font: normal normal normal 15px/24px Metro;
    letter-spacing: 0px;
    color: #333333;
  

}
.assignedon
{
    margin-top: -20px;
    margin-left: 300px;
    width: 95px;
    height: 16px;
    font: normal normal normal 15px/24px Metro;
    color: #979797;
   
}
.deadline {
    margin-top: -20px;
    margin-left: 450px;
    width: 95px;
    height: 16px;
    font: normal normal normal 15px/24px Metro;
    color: #979797;

}

.taskscontent1 p {
    margin-top: -50px;
    margin-left: 330px;
    width: 78px;
    height: 18px;
    font: normal normal normal 15px/24px Metro;
    color: #333333;

}

.taskname1 {
    margin-top: -20px;
    margin-left: 430px;
    width: 97px;
    height: 18px;
    font: normal normal normal 15px/24px Metro;
    letter-spacing: 0px;
    color: #333333;


}

.assignedon1 {
    margin-top: -20px;
    margin-left: 550px;
    width: 95px;
    height: 16px;
    font: normal normal normal 15px/24px Metro;
    color: #979797;

}

.deadline1 {
    margin-top: -20px;
    margin-left: 700px;
    width: 95px;
    height: 16px;
    font: normal normal normal 15px/24px Metro;
    color: #979797;

}
.box-7 {
    font-family: CeraB;
    margin-top: -275px;
    margin-left: 850px;
    width: 250px;
    height: 300px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}

.box-7-1 {
    margin-top: -290px;
    margin-left: 865px;
    height: 30px;
    font-size: 23px;
    font-family: CeraB;
    color: #3598DB;
}
.box-7-1-1 {
    margin-top: 40px;
    margin-left: 950px;
    
    font-size: 15px;
    font-family: Metro;
    color:black;
}
.box-7-1-2{
    margin-top: -30px;
    margin-left: 950px;
    font-size: 15px;
    font-family: Metro;
    color: black;
}
.box-7-1-3 {
    margin-top: -30px;
    margin-left: 950px;
    font-size: 15px;
    font-family: Metro;
    color: black;
}
.box-8 {
    font-family: CeraB;
    margin-top: 40px;
    margin-left: 230px;
    width: 870px;
    height: 300px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}

.box-8-1 {
    margin-top: -290px;
    margin-left: 265px;
    height: 30px;
    font-size: 23px;
    font-family: CeraB;
    color: #3598DB;
}
.degree
{
     margin-top: 20px;
     margin-left: 265px;
   font: normal normal normal 15px/24px Metro;
     color:black;
}
.institute {
    margin-top: -50px;
    margin-left: 700px;
    font: normal normal normal 15px/24px Metro;
    color: black;
}
.box-9 {
    font-family: CeraB;
    margin-top: 80px;
    margin-left: 230px;
    width: 500px;
    height: 250px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}

.box-9-1 {
    margin-top: -235px;
    margin-left: 265px;
    height: 30px;
    font-size: 23px;
    font-family: CeraB;
    color: #3598DB;
}
.certicontent p {
    margin-top: -40px;
    margin-left: 350px;
  
    font: normal normal normal 15px/24px Metro;
    color: #333333;

}
.box-10 {
    font-family: CeraB;
    margin-top: -220px;
    margin-left: 750px;
    width: 350px;
    height: 250px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}

.box-10-1 {
    margin-top: -230px;
    margin-left: 755px;
    height: 30px;
    font-size: 23px;
    font-family: CeraB;
    color: #3598DB;
}
.achievements
{
  margin-top: 20px;
  margin-left: 755px;
  font: normal normal normal 15px/24px Metro;
  color: #333333;
   
}