@font-face {
    font-family: CeraB;
    src: url(../fonts/CeraPro-Bold.ttf);
  }
  @font-face {
    font-family: MetroB;
    src: url(../fonts/metropolis/Metropolis-Bold.woff);
  }
  @font-face {
    font-family: CeraM;
    src: url(../fonts/CeraPRO-Medium.ttf);
  }
  @font-face {
    font-family: Metro;
    src: url(../fonts/metropolis/Metropolis-Regular.woff);
  }
  @font-face {
    font-family: MetroM;
    src: url(../fonts/metropolis/Metropolis-Medium.woff);
  }
  @font-face {
    font-family: MetroS;
    src: url(../fonts/metropolis/Metropolis-ExtraBold.woff);
  }
  @font-face {
    font-family: MetroMI;
    src: url(../fonts/metropolis/Metropolis-MediumItalic.woff);
  }

.main_body{
    /* display:flex; */
    margin-left: 140px;
}
.a1{
    color: #333333;
    font-family: CeraM;
    font-size: 45px;
}
.a2{
    color: #3598DB;
    font-family: Metro;
    font-size: 16px;
}
.b1 {
  display: flex;
  right: 2%;
  box-shadow: 1px 3px 10px #fff;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 16px;
  border: 1px solid #fff;
  align-items: center;
  width: auto;
  height: 47px;
}
.b5{
  display: flex;
  right: 2%;
  box-shadow: 1px 3px 10px #00000029;
  border-radius: 8px;
  background-color: #51C46D;
  padding: 8px 16px;
  border: 1px solid #51C46D;
  align-items: center;
  color:#fff;
  width: 151px;
  height: 39px;
}
.c1{
  color:#333333;
  font-size: 27px;
  font-family: CeraM;
}
.c2{
  color: #3598DB;
  font-size: 25px;
  font-family: CeraM;
}
.c3{
  color: #979797;
  font-size: 18px;
  font-family: Metro;
}
.c4{
    color: #333333;
    font-size: 18px;
    font-family: MetroM;
}
#ac{
  color: #3598DB;
}
#nac{
  color:#979797;
}
#f2{
    height: 53px;
    width:350px;
    border-radius: 7px;
    border: 1px solid #3598DB;
    margin-right: 20px;
  }
  #f4{
    height: 53px;
    width:300px;
    border-radius: 7px;
    border: 1px solid #3598DB;
    margin-right: 20px;
  }
  #f5{
    height: 53px;
    width:275px;
    border-radius: 7px;
    border: 1px solid #3598DB;
    margin-right: 20px;
  }
  #f6{
    height: 53px;
    width:270px;
    border-radius: 7px;
    border: 1px solid #3598DB;
    margin-right: 20px;
    color: #3598DB;
  }
.m1{
    color: #3598DB;
    font-size: 19px;
    font-family: Metro;
    text-align: center;
    align-items: center;
    margin-top: 15px;
}
input.largerCheckbox {
    width: 20px;
    height: 20px;
}