.container-1 {
    margin-left: 100px;
}

.nav {
    width: 1450px;
    height: 60px;
    display: flex;
    background: #F5F5F5;
    margin-left: -15px;
    margin-top: 50px;
}

.nav l {
    padding: 20px;
    width: 250px;
    height: 60px;

    border: 2px solid #f1f1f1;
    border-radius: 8px;
    opacity: 1;

}

.nav l a {
    text-decoration: none;
    padding-left: 20px;
    color: #3589db;
    font: normal normal normal 15px/22px Metro;
    word-spacing: 50px;
}
.name {
    margin-top: 50px;
    margin-left: 30px;
    font: normal normal normal 30px/40px CeraB;
    color: black;
    opacity: 1;
}

.nav1 {
    margin-left: 300px;
    display: flex;
}

.nav1 l a {
    padding: 0px 100px;
    color: #979797;
    font: normal normal normal 18px/24px MetroM;
    text-decoration: none;
}
.search {
    margin-top: 50px;
    margin-left: 220px;
    width: 450px;
    height: 45px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;
    opacity: 1;
}

.search svg {
    margin-left: 20px;

    margin-top: 20px;
}

.add {
    margin-top: -40px;
    margin-left: 700px;
    width: 70px;
    height: 35px;
    background: var(--unnamed-color-3598db) 0% 0% no-repeat padding-box;
    background: #3598DB 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}

.add button {
    margin-top: 5px;
    margin-left: 10px;
    width: 30px;
    height: 18px;
    font: normal normal normal 15px/22px Metro;
    background-color: #3598DB;
    border: #3598DB;
    color: #FFFFFF;

}

.sort {
    margin-top: -30px;
    margin-left: 850px;
    font: normal normal normal 15px/19px Metro;

}

.sort select {
    width: 170px;
    height: 31px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid white;
    opacity: 1;
}
.files {
    margin-top: 30px;
    margin-left: 220px;
    width: 950px;
    height: 100px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    opacity: 1;
}

.files input {
    margin-top: 30px;
    margin-left: 20px;
    width: 21px;
    height: 21px;
    border: 1px solid var(--unnamed-color-3598db);
    border: 1px solid #3598DB;
    opacity: 1;
}

.files .added {
    margin-top: -30px;
    margin-left: 50px;
    font: normal normal normal 15px/24px Metro;

}


.files img {
    margin-top: -50px;
    margin-left: 200px;
}

.files .uploaded {
    margin-top: -60px;
    margin-left: 280px;
    font: normal normal normal 15px/24px Metro;

}
.taskscontent img{
    margin-top:-50px;
margin-left: 450px;
}
.taskscontent p{
    margin-top: -50px;
    margin-left: 510px;
    width: 78px;
    height: 18px;
    font: normal normal normal 15px/24px Metro;
    color: #333333;

}

.files .filename {
    margin-top: -50px;
    margin-left: 610px;
    font: normal normal normal 15px/24px Metro;

}
.files .added1 {
    margin-top: -50px;
    margin-left: 750px;
    font: normal normal normal 15px/24px Metro;

}