@font-face {
  font-family: CeraB;
  src: url(../fonts/CeraPro-Bold.ttf);
}
@font-face {
  font-family: CeraM;
  src: url(../fonts/CeraPRO-Medium.ttf);
}
@font-face {
  font-family: Metro;
  src: url(../fonts/metropolis/Metropolis-Regular.woff);
}
@font-face {
  font-family: MetroM;
  src: url(../fonts/metropolis/Metropolis-Medium.woff);
}
*{
    box-sizing: border-box;
}

body{
    margin-left: 5%;
    margin-right: 6%;
}
.quickaccess-links-container{
    justify-content: space-between;
    width:40%;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-right: 30px;
}
.quickaccess-links-recruiter{
    color: #2D3E50;
    padding: 8px 25px;
    border-radius: 30px;
    border: 1.5px solid #333333;
    size: 14px;
}
.upcoming_interview_top_span{
  margin-top: -80px;
  margin-right: -2%;
}
.quickaccess{
    width:90%;
    margin-right: 0%;
    margin-left: 30px;
    margin-top: 40px;
    
}
.quickaccess a{
    background-color: white;
    padding: 8px 13px;
    border-radius: 8px;
    margin-right: 37px;
    margin-bottom: 45px;
}
.quickaccess a: hover{
    background-color:#2D3E50 ;
    color: white;
}
.input-field1 {
  margin-left: -4%;
  box-shadow: 3px 3px 5px 0px rgba(238, 238, 238, 1);
  border-radius: 31px;
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  width: 620px;
}
.searchForJobs1 {
  padding: 5px 0px;
  text-align: center;
  border: none;
  outline: none;
  color: #979797;
}
.searchButton1 {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}
.column {
  float: left;
  padding: 20px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column p{
   color: #979797;
   margin-top: 20px;
}
.right-column a{
    margin-top: 20px;
    float: right;
    padding: 7px 12px;
    background-color:;
    color: #979797;

}
.btn{
    background: var(--unnamed-color-3598db) 0% 0% no-repeat padding-box;
    background: #3598DB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding: 8px 12px;
    background-color: #3598DB;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-top: 80px;

}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 13% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 47%; /* Could be more or less, depending on screen size */
  border-radius: 11px;
}

/* The Close Button */
.close {
  color: #979797;
  float: right;
  font-size: 18px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content .p-class{
font-family: Metro;
font-size: 20px;
color: #333333;
margin-bottom: 10px;
}
.modal-content p{
font-family: Metro;
color: #979797;
}
.right-column-1 a{
    color:#297FB8;
    float: right;
    margin-top: -30px;
    margin-right: 30px;

}

.search-box {
  display: flex;
  width: 550px;
  box-shadow: 3px 3px 5px 0px rgba(238, 238, 238, 1);
  border-radius: 40px;
  margin-left: -35px;
  margin-top: 50px;
}
.search-form-input {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 75%;
  height: 46px;
  padding: 5px 20px 5px 40px;
  border: none;
  border-radius: opx opx 40px 40px;
  background-position: 15px center;
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: #fff;
  color: #3d3935;
  font-size:14px;
  outline: none;
}
.dropdown {
  position: relative;
  width: 35%;
  height: 46px;
  border-right: 1px solid #979797;
  margin-left: 10px;
}
.dropdown::before {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 999;
  width: px;
  height: 36px;
  background-color: #ccc;
  content: '';
}
.dropdown-button {
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 20px 0px 0px 20px;
  background-color: #fff;
  color: transparent;
  outline: none;
  cursor: pointer;
}

.dropdown-button .selected-item {
  color: #297FB8;
  font-size: 1rem;
}
.dropdown[open] .dropdown-button::before {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.dropdown-button:hover:after {
  border-right: 2px solid #22A7B4;
  border-bottom: 2px solid #22A7B4;
}
.dropdown-menu {
  position: absolute;
  top: 55px;
  right: 5px;
  width: 160px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
  background-color: #fff;
}
.dropdown-menu-header {
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}
.dropdown-menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.dropdown-menu-item {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
.dropdown-menu-item input:checked + span,
.dropdown-menu-item:hover {
  color: #22a7b4;
}
.dropdown-menu-item input {
  display: none;
}
::placeholder{
  color: #979797;
  font-size: 16px;
}
.searchButton {
  background: white;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0px 40px 40px 0px;
  margin-right: 40px;
}